@font-face {
	font-family: "custom-icons";
	src: url("custom-icons.eot?713ec60e13d23d6d60a4b41bc05f9032?#iefix") format("embedded-opentype"),
url("custom-icons.woff2?713ec60e13d23d6d60a4b41bc05f9032") format("woff2"),
url("custom-icons.woff?713ec60e13d23d6d60a4b41bc05f9032") format("woff");
}

.custom {
	line-height: 1;
}

.custom:before {
	font-family: custom-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.custom-triangle-down:before {
	content: "\f101";
}
.custom-close:before {
	content: "\f102";
}
.custom-back:before {
	content: "\f103";
}
